{{ define "main" }}
<article class="article">
  <header>
    <h1>{{ .Title }}</h1>
    <div class="article-meta">
      {{ if .PublishDate }}
      <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "January 2, 2006" }}</time>
      {{ end }}
      {{ if .Params.categories }}
      <span> • </span>
      {{ range .Params.categories }}<span>{{ . }}</span>{{ end }}
      {{ end }}
    </div>
  </header>
  <div class="article-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
